/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

#jp-MainLogo.jp-MainLogo-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

#jp-MainLogo.jp-MainLogo-custom svg {
  display: block;
  width: auto;
  height: auto;
  margin: 2px;
  object-fit: contain;
}

#jp-MainLogo.jp-MainLogo-custom img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
