/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

#jp-MainLogo.jp-MainLogo-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#jp-MainLogo.jp-MainLogo-custom img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
